{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <title>Corona Update</title>
  </head>
  <body>
    <header>
      <div class="navbar-top">
        <div class="top">
          <ul class="list_items">
            <li class="items"><a href="{% url 'home' %}">Home</a></li>
            <li class="items"><a href="">About</a></li>
            <li class="items"><a href="{% url 'countries' %}">Browse Country-wise</a></li>
            <li class="items"><a href="">Chart</a></li>
            <li class="search">
              <input type="text" name="" value="Nepal">
              <input type="submit" name="" value="Search">
            </li>
          </ul>
        </div>
      </div>
      <div class="border-down">

      </div>
    </header>


      {% block content %}


      {% endblock %}

    <footer>
      <div class="bottom">
        <h4>This is the Webssite based on rest api of Corona Information site</h4>
        <p>this is only for the test purpose</p>
        <h3>We hereby are not associated with any commercial website</h3>
      </div>
    </footer>
  </body>
</html>
